.main{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.main .card{
    width: 30%;
    height: 50%;
    color: #27cdf3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    transition: 0.5s;
}

.main .card img{
    width: 60%;
    height: 75%;
    background-color: aquamarine;
}
.main .card .img img{
    width: 60%;
    height: 100%;
}
.main .card .card-body{
    width: 98%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 2vw;
}

.main .card .card-body h2{
    font-family: "Lora", serif;
    font-size: 0.95em;
    transition: 0.5s;
}


.main .card:active{
    transform: scale(0.9);
}
.main .card:hover{
    border: 5px solid #27cdf3;
    background-color: white;
    box-shadow: inset 0 0 5px #27cdf3,inset 0 0 10px #27cdf3,inset 0 0 15px #27cdf3;
    transform: scale(1.2);
}

.main .card:hover .card-body h2{
    font-size: 1.2em;
}
