.login{
  width: 100%;
  height: calc(100% - 5.3vw);
  background-color: #f0f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 0 0;
  font-size: 1.5vw;
}

.login h3{
  font-size: 1.5em;
  margin-bottom: 2vw;
}

.login form{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.login form label{
  display: block;
  font-size: 0.9em;
  margin:0 0 0.4vw 1vw;
}
.login form input{
  width: 100%;
  height: 3vw;
  border: none;
  outline: none;
  font-size: .8em;
  padding: 0.2vw 1vw;
  border-radius: 10px;
  border: 1px solid rgba(237, 236, 236, 0.4);
  box-shadow: inset -3px -3px 7px #4945451e, inset 3px 3px 5px #0000002c;
}

.login form button{
  margin-top: 2vw;
  width: 100%;
  height: 4vw;
  font-size: 1.5em;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #0cacfc;
  border-radius: 10px;
  color:#fff ;
}

.login .social {
  width: 50%;
  height: 5vw;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.login .social a {
  height: 100%;
  width: 10%;
  /* border: 2px solid; */
  border-radius: 50%;
  border: 1px solid rgba(237, 236, 236, 0.4);
  box-shadow: inset -3px -3px 7px #4945451e, inset 3px 3px 5px #0000002c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .social a img {
  height: 70%;
  width: 70%;
}